<div class="container">
    <div class="content">
        <div class="searchCharacters">
            <h1>Busca de personagens</h1>

            <div class="search-input">
                <p>Nome do personagem</p>
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>

        <div class="tableCharacters">
            <app-table></app-table>
        </div>
    </div>

    <div class="pagination">
        <app-pagination [totalItems]="totalCharacters()" [itemsPerPage]="pageSize" [currentPage]="currentPage()"
            (pageChange)="fetchCharacters($event)">
        </app-pagination>
    </div>
</div>