.container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.searchCharacters {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    h1 {
        font-weight: bold;
        color: #555555;
        font-size: 32px;
    }
}

.search-input {
    p {
        color: #555555;
        font-size: 16px;
        margin-bottom: 8px;
    }
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.pagination {
    margin-top: 24px;
    background-color: #FFFFFF;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 430) {
    .container {
        max-width: 425px;
        padding-left: 0px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .searchCharacters {
        h1 {
            font-size: 24px;
        }
    }

    .search-input {
        p {
            font-size: 14px;
        }
    }
}